<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block title %}{% endblock %}-shop</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href={{url_for("static", filename="shop/css/styles.css")}} rel="stylesheet" />
    {% endblock%}
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/shop">Agro shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>

					{% if "user" in session %}
					<li class="nav-item"><a href="/profile" class="nav-link">{{session["user"]}}</a></li>
					{% else %}
					<li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
					{% endif %}

					<li class="nav-item"><a href="/shop" class="nav-link">Shop</a></li>
					<li class="nav-item"><a href="/experts" class="nav-link">Agro Experts</a></li>

					{% if "expert" in session %}
					<li class="nav-item"><a href="/expert_dashboard" class="nav-link">{{session["expert"]}}</a></li>
					{% else %}
					<li class="nav-item"><a href="/expert_login" class="nav-link">Expert Login</a></li>
					{% endif %}

					
					<li class="nav-item"><a href="/about" class="nav-link">About us</a></li>
					<li class="nav-item"><a href="/service" class="nav-link">Services</a></li>
					<li class="nav-item"><a href="/review" class="nav-link">Review</a></li>
					<li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                </ul>
                <form class="d-flex">
                    <!-- <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                </form> -->
            </div>
        </div>
    </nav>
    <!-- Header-->
    {% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	<ul class=flashes>
		{% for category, message in messages %}
		{% if category == "error"%}
		<div class="alert alert-danger" role="alert">
			{{message}}
		</div>
		{% elif category=="success" %}
		<div class="alert alert-success" role="alert">
			{{message}}
		</div>
		{% endif %}
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}


    {% block content %} {% endblock %}

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src={{url_for("static", filename="shop/js/scripts.js")}}></script>
</body>

</html>