<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Checkout -shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-success navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Agro shop</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if "user" in session %}
                <li class="nav-item"><a href="/profile" class="nav-link">{{session["user"]}}</a></li>
                {% else %}
                <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                {% endif %}

                <li class="nav-item"><a href="/shop" class="nav-link">Shop</a></li>
                <li class="nav-item"><a href="/experts" class="nav-link">Agro Experts</a></li>

                {% if "expert" in session %}
                <li class="nav-item"><a href="/expert_dashboard" class="nav-link">{{session["expert"]}}</a></li>
                {% else %}
                <li class="nav-item"><a href="/expert_login" class="nav-link">Expert Login</a></li>
                {% endif %}

                
                <li class="nav-item"><a href="/about" class="nav-link">About us</a></li>
                <li class="nav-item"><a href="/service" class="nav-link">Services</a></li>
                <li class="nav-item"><a href="/review" class="nav-link">Review</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>>
    <br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h2>Order details</h2>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Product name</h6>
                        <small class="text-muted">{{ product.1 }}</small>
                    </div>
                    <span class="text-muted"><span id="price">{{product.3}}</span> Tk</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Shipping Charge</span>
                    <strong><span id="shipping">50</span> TK</strong>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total price</span>
                    
                    <strong><span id="total">0</span> Tk</strong>
                </li>
            </ul>

        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <form action="/order_confirm/{{product.0}}" id="checkout" method="post" class="needs-validation">


                <input type="hidden" name="total" id="totalInput">
                <div class="mb-3">
                    <label for="address2">Address</label>
                    <div class="mb-3">
                        <textarea class="form-control" name="address" id="exampleFormControlTextarea1" rows="5"></textarea>
                      </div>
                </div>

                <hr class="mb-4">
                <h4 class="mb-3">Payment Method</h4>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" value="cash on delivery" type="radio" class="custom-control-input" checked
                            required>
                        <label class="custom-control-label" for="credit">Cash On delivery</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="debit" name="paymentMethod" value="bikash" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="debit">Bikash</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="paypal" name="paymentMethod" type="radio" value="nogod" class="custom-control-input" required>
                        <label class="custom-control-label" for="paypal">Nogod</label>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary btn-lg" type="submit" form="checkout">Continue to checkout</button>
            </form>
        </div>
    </div>

</div>

<div style="margin: 600px;"></div>

<script>

    const price=document.getElementById("price").innerText;
    const shipping=document.getElementById("shipping").innerText;
    totalPrice=parseInt(price)+parseInt(shipping);

    const total=document.getElementById("total");
    total.innerText=totalPrice;
    document.getElementById("totalInput").value=totalPrice;
    

</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>

